In [1]:
import pandas as pd
pd.__version__

'1.4.3'

## Series

In [2]:
pd.Series()

C:\Users\Алексей\AppData\Local\Temp\ipykernel_8140\2031691219.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

### Create the Series. Method #1.

In [3]:
countries = pd.Series(
    data=['Egland','Canada','USA','Russia',
'Ukraine','Belarus','Kazakhstan'],
    index=['UK','CA','US','RU','UA','BY','KZ'],
    name='countries'
)

display(countries)

UK        Egland
CA        Canada
US           USA
RU        Russia
UA       Ukraine
BY       Belarus
KZ    Kazakhstan
Name: countries, dtype: object

### Create the Series. Method #2.

In [4]:
countries = pd.Series({
    'UK': 'England',
    'CA': 'Canada',
    'US': 'USA',
    'RU': 'Russia',
    'UA': 'Ukraine',
    'BY': 'Belarus',
    'KZ': 'Kazakhstan',
    'name':'countries' 
})

display(countries)

UK         England
CA          Canada
US             USA
RU          Russia
UA         Ukraine
BY         Belarus
KZ      Kazakhstan
name     countries
dtype: object

### Access to data of the Series 'loc' and 'iloc'.

In [5]:
print(countries.loc['US'])
print()
print(countries.loc[['US','RU','UK']])
print()
print(countries.iloc[6])
print()
print(countries.iloc[1:4])
print()
print(countries[1:7:2])

USA

US        USA
RU     Russia
UK    England
dtype: object

Kazakhstan

CA    Canada
US       USA
RU    Russia
dtype: object

CA     Canada
RU     Russia
BY    Belarus
dtype: object

## DataFrame

### Create the DataFrame. Method #1

In [6]:
country_df = pd.DataFrame({
    'country': ['England','Canada','USA','Russia',
'Ukraine','Belarus','Kazakhstan'],
    'population': [56.29, 38.05, 322.28, 146.24, 
45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191,
603628, 207600, 2724902],
})

country_df.index = ['UK','CA','US','RU','UA','BY','KZ']

display(country_df)

       country  population    square
UK     England       56.29    133396
CA      Canada       38.05   9984670
US         USA      322.28   9826630
RU      Russia      146.24  17125191
UA     Ukraine       45.50    603628
BY     Belarus        9.50    207600
KZ  Kazakhstan       17.04   2724902

### Create the DataFrame. Method #2.

In [7]:
countries_df = pd.DataFrame(
    data=[
        ['England',56.29,133396],
        ['Canada',38.05,9984670],
        ['USA',322.28,982663], 
        ['Russia',146.24,17125191], 
        ['Ukraine',45.50,603628], 
        ['Belarus',9.50,207600],
        ['Kazakhstan',17.04,2724902],   
    ],
    columns=['countries','population','square'],
    index=['UK','CA','US','RU','UA','BY','KZ']
)

display(countries_df)

     countries  population    square
UK     England       56.29    133396
CA      Canada       38.05   9984670
US         USA      322.28    982663
RU      Russia      146.24  17125191
UA     Ukraine       45.50    603628
BY     Belarus        9.50    207600
KZ  Kazakhstan       17.04   2724902

### Calculate Mean for rows & columns

In [8]:
country_df.mean(axis=0)

C:\Users\Алексей\AppData\Local\Temp\ipykernel_8140\2825393462.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  country_df.mean(axis=0)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [9]:
country_df.mean(axis=1)

C:\Users\Алексей\AppData\Local\Temp\ipykernel_8140\415461510.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  country_df.mean(axis=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

### Access to element

In [10]:
column1 = country_df['population']
display(column1)

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [11]:
display(countries_df.loc['UK','square'])

133396

In [12]:
display(countries_df.loc['RU',['population','square']])

population      146.24
square        17125191
Name: RU, dtype: object

In [13]:
display(countries_df.loc[['UA','BY','KZ'],['population','square']])

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [14]:
display(countries_df.iloc[4:8, 1:3])

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902